<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-ru">

<!-- Modal Structure -->
<div id="modal_reg" class="modal small" th:fragment="modal_reg">
    <div class="modal-content">
        <div class="row">
            <form class="col s12">
                <div class="row">

                    <div class="input-field col s7 m8 l4">
                        <h5>Регистрация</h5>
                    </div>
                    <div class="input-field col s1 m1 l1 offset-s2 offset-m2 offset-l7">
                        <a href="#!" class="modal-action modal-close btn-floating btn-large waves-light red"><i
                                class="material-icons">close</i></a>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="input_text" type="text" length="20"/>
                        <label for="input_text">Имя пользователя:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 ">
                        <input id="input_email" type="password" length="20"/>
                        <label for="input_email">Пароль:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m12 l3">
                        <a href="#!" class="modal-action modal-close btn"
                           style="width: 100%; align-content: center">ОТПРАВИТЬ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>