<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-ru">

<div th:fragment="admin_find_image" class="card-panel blue-grey darken-1">
    <div class="card-content">
        <h6 class="white-text"><b>View Image</b></h6>
        <select style="display: block"
                ng-model="imgFind"
                ng-options="imgFind.name for imgFind in imagesPrev">
            <option value="" disabled="">Select</option>
        </select>
    </div>

    <div class="card-content white-text">
        <p>
            <button class="waves-effect waves-light btn" ng-click="findImg(imgFind.id)">View Image
            </button>
        </p>
    </div>
</div>


</html>